#packages h3 {
  font-size: var(--font-size-large);
}

@media screen and (max-width: 640px) {
  #packages > div {
    flex-direction: column;
    gap: 3rem;
  }

  #packages > div > div {
    width: 100%;
  }
}
