@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light-gray: rgb(170, 170, 170);
  --gray: rgb(113, 113, 113);
  --dark-gray: #333;
  --white: #fff;
  --font-size-medium: 18px;
  --font-size-large: 24px;
  --font-size-extra-large: 96px;
  --bold: 600;
}

* {
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--font-size-extra-large);
  font-weight: var(--bold);
}
h2 {
  font-size: var(--font-size-large);
  font-weight: var(--bold);
}
h3 {
  font-size: var(--font-size-medium);
  font-weight: var(--bold);
}

img {
  height: unset;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  line-height: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
