#footer {
  background-color: var(--dark-gray);
  color: var(--white);
}

#footer p {
  color: var(--white);
}

#footer > div:first-child > h4:not(:first-child) {
  margin-top: 2rem;
}

@media screen and (max-width: 640px) {
  #footer {
    flex-direction: column;
  }

  #footer .justify-between {
    width: 100%;
  }
}
